.icon-html {
  color: #e34c26;
}
.icon-js {
  color: #f7df1e;
}
.icon-react {
  color: #61dafb;
}
.icon-node {
  color: #68a063;
}
.icon-mongodb {
  color: #47a248;
}
.icon-java {
  color: #007396;
}
.icon-mysql {
  color: #4479a1;
}
.icon-android {
  color: #3ddc84;
}
